html {
  margin: 1in;
}

body {
  font-family: "Gentium Book Basic", Gentium, serif;
  max-width: 80ex;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 3em;
  clear: both;
}

div {
  margin-top: 1in;
}

div.chapter:after {
  content: url('line.png');
  text-align: center;
  display: block;
  color: red;
}

div p:nth-child(2):first-letter {
  font-size: 4em;
  font-weight: bold;
  float: left;
  margin: 0;
  padding: 0;
  margin-right: 0.5ex;
}

div :last-child {
  page-break-after: always;
}
